$white: #fff;
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphic-design-text: #25564b;
$photography-text: #19536b;
$dark-footer: #458c7e;
$footer: hsl(167deg 44% 70%);
$photography: #5dcbfe;

// ### Neutral

$desaturated-blue: hsl(212, 27%, 19%);
$dark-blue: hsl(213, 9%, 39%);
$blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
